.password-item-container {
  border: 1px solid #7683cb;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .password-item-container {
    margin: 0 16px 16px 0;
    width: 30%;
  }
}

.initial {
  border-radius: 25px;
  background-color: blueviolet;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.initial-text {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
}

.password-item-data-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-name {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin: 3px 0;
}

.user-name {
  color: #fff;
  font-size: 14px;
  margin: 3px 0;
}

.password {
  color: #fff;
  font-size: 14px;
  margin: 3px 0;
}

.star-img {
  width: 180px;
}
@media (min-width: 768px) {
  .star-img {
    width: 120px;
  }
}

.delete-button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .delete-button {
    height: 20px;
    width: 20px;
  }
}

.delete-icon {
  width: 100%;
}
